<script type="text/html" id="categorytemplate">
	<li id="<%= id %>" class="selectcategory"><button><%= title %> (<%= amount %>)</button></li>
</script>


<script type="text/html" id="widgettemplate">
	<div class="ui-widget ui-corner-all ui-widget-content widget" id="<%= id %>" title="<%= title %>">
		<div class="ui-widget-header ui-corner-all widgetheader">
			<span class="widgettitle"><label id="lbl_widgettitle_<%=id%>" labelKey=<%= titleKey %>><%= title %></label></span>
			<span class="right-icons icons hidden">
				<span class="ui-icon ui-icon-newwin widgetopenfullscreen"></span>
				<span class="ui-icon ui-icon-arrowthickstop-1-s menutrigger"></span>
				<span class="hiddenmenu">
					<ul style="top: 13px;" class="hidden controls ui-widget-header">
						<li class="widgetClose">
							<span class="ui-icon ui-icon-minus"></span>
							<a class="minimization" href="#"><label labelKey="minimize_key"/><%= minimize%></a>
						</li>
						<li class="widgetOpen">
							<span class="ui-icon ui-icon-extlink"></span>
							<a class="minimization" href="#"><label labelKey="maximize_key"/><%= maximize%></a>
						</li>
						<li class="widgetDelete" style="<%= wdgtDeleteDisplay%>" >
							<span class="ui-icon ui-icon-close"></span>
							<a class="delete" href="#"><label labelKey="delete_key"/><%= del%></a>
						</li>
						<li class="widgetCustomize" style="<%= wrkspceCustDisplay%>">
							<span class="ui-icon ui-icon-wrench"></span>
							<a class="customizeClass" href="#"><label labelKey="customize_key"/><%= customize_key_trans%></a>
						</li>
						<li class="widgetAssign" style="<%= wdgtAssignDisplay%>">
							<span class="ui-icon ui-icon-wrench"></span>
							<a class="assignClass" href="#"><label labelKey="assign_key"/><%= assign_key_trans%></a>
						</li>

						<!-- This could be implemented -->
						<!--
						<li class="widgetEdit">
							<span class="ui-icon ui-icon-tag"></span>
							<a class="no_target" href="#">Edit</a>
						</li>
						-->
						<li class="widgetRefresh">
							<span class="ui-icon ui-icon-arrowrefresh-1-w"></span>
							<a class="no_target" href="#"><label labelKey="refresh_key"/><%=refresh%></a>
						</li>
					</ul>
				</span>
			</span>
		</div>
		<!-- TP#501219 added attribute id to enable resize (drag) and update widget size -->
		<div id="widgetcontent_<%= id %>" class="widgetcontent">
		</div>
		<!-- TP#501219 added the div resizeDragSouthHandle_<%= id %> to enable resize (drag) and update widget size -->
		<div id='resizeDragSouthHandle_<%= id %>' style="height:4px" class="ui-resizable-handle ui-resizable-s"></div>
	</div>
</script>

<script type="text/html" id="selectlayouttemplate">
	<li class="layoutchoice" id="<%= id %>" style="background-image: url('<%= image %>')"></li>
</script>

<script type="text/html" id="addwidgettemplate">

	<li class="widgetitem">
		<img src="<%= image %>" alt="" height="60" width="120">
		<div class="add-button">
				<input class="macro-button-add addwidget" id="addwidget<%= id %>" value="Add it Now" type="button"><br>
				<input class="macro-hidden-uri" value="<%= url %>" type="hidden">
		</div>
		<!-- // .add-button -->
		<h3><a href=""><%= title %></a></h3>

		<p>By <%= creator %></p>
		<p><%= description %></p>
	</li>

</script>

<div class="dialog" id="addwidgetdialog" title="Widget Directory">
	<ul class="categories">
	</ul>

	<div class="panel-body">
		<ol id="category-all" class="widgets">
		</ol>
	</div>
</div>
<div class="dialog" id="editLayout" title="Edit layout">
	<div class="panel-body" id="layout-dialog">
			<p><strong id="chooseDashLayoutKey"></strong></p>
			<ul class="layoutselection">
			</ul>
	</div>
</div>